.notify-row{

  &__holder{
    display: flex;
    align-items: baseline;
    background-color: $lightningYellow;
    padding: .75rem 1.5rem;
    border-radius: 0 0 .6rem .6rem;
    justify-content: center;

    @include media(">=md"){
      padding: .9rem 1.75rem;
    }

    @include media(">=lg"){
      border-radius: 0 0 1rem 1rem;
    }
  }

  &__icon{
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 .65rem 0 0;

    @include media(">=md"){
      font-size: 1.7rem;
    }

    @include media(">=lg"){
      margin: 0 .9rem 0 0;
    }
  }

  &__text{
    font-family: $headings-font-family;
    font-size: 1.1rem;

    @include media(">=md"){
      font-size: 1.2rem;
    }

    @include media(">=lg"){
      font-size: 1.3rem;
    }
  }
}