<footer class="footer page__footer">
    <div class="container">
        <div class="footer__main">

            <div class="footer__group footer__group--logo">
                <a class="logo footer__logo" href="#">
                    <img class="logo__img" src="assets/img/public/logo--white.svg" alt="i-logistics">
                </a>
            </div><!--footer group-->

            <div class="footer__group footer__group--contacts">
                <h3 class="heading heading--lvl-3 heading--lined footer__heading">Наши контакты</h3>

                <div class="contact-cell footer__contact-cell">
                    <i class="icon icon--phone contact-cell__icon"></i>
                    <div class="contact-cell__text">
                        <div class="contact-cell__pre">Звоните</div>
                        <div class="contact-cell__main">
                            <a class="contact-cell__link" href="tel:+380990200100">380 99 020 01 00</a>
                        </div>
                    </div>
                </div><!--contact cell-->

                <div class="contact-cell footer__contact-cell">
                    <i class="icon icon--email contact-cell__icon"></i>
                    <div class="contact-cell__text">
                        <div class="contact-cell__pre">E-mail</div>
                        <div class="contact-cell__main">
                            <a class="contact-cell__link" href="mailto:info@ilogistics.com.ua">info@ilogistics.com.ua</a>
                        </div>
                    </div>
                </div><!--contact cell-->

            </div><!--footer group-->

            <div class="footer__group footer__group--about">
                <h3 class="heading heading--lvl-3 heading--lined footer__heading">О компании</h3>
                <p class="footer__group-text">
                    I-Logistics – компания-поставщик комплексных ИТ-решений для логистики. WMS-система международного
                    класса Logistics Vision Suite, которую представляет рынке Украины компания И-Логистика, на протяжении
                    почти 20-ти лет успешно внедряется в Западной Европе, на Ближнем Востоке, а также в Украине.
                </p>
            </div><!--footer group-->

        </div><!--footer main-->
    </div>

    <div class="footer__copyrights">
        <span class="footer__copyrights-item">© 2021 I-Logistics</span>
    </div><!--footer copyrights-->

</footer><!--footer-->