<header class="header">

    <div class="header__notify-row notify-row">
        <div class="container">
            <div class="notify-row__holder">
                <i class="notify-row__icon icon--info-circled-alt"></i>
                <span class="notify-row__text">
                    Повседневная практика показывает, что постоянное информационное обеспечение нашей
                    деятельности способствует реализации направлений развития.
                </span>
            </div>
        </div>
    </div>

    <div class="header__top">
        <div class="container">
            <div class="header__top-holder">

                <a class="logo header__logo" href="#">
                    <img class="logo__img" src="assets/img/public/logo--blue.svg" alt="i-logistics">
                </a>

                <div class="header__contacts">
                    <div class="contact-cell header__contact-cell">
                        <i class="icon icon--phone contact-cell__icon"></i>
                        <div class="contact-cell__text">
                            <div class="contact-cell__pre">Звоните</div>
                            <div class="contact-cell__main">
                                <a class="contact-cell__link" href="tel:+380990200100">380 99 020 01 00</a>
                            </div>
                        </div>
                    </div><!--contact cell-->

                    <div class="contact-cell header__contact-cell">
                        <i class="icon icon--email contact-cell__icon"></i>
                        <div class="contact-cell__text">
                            <div class="contact-cell__pre">E-mail</div>
                            <div class="contact-cell__main">
                                <a class="contact-cell__link" href="mailto:info@ilogistics.com.ua">info@ilogistics.com.ua</a>
                            </div>
                        </div>
                    </div><!--contact cell-->
                </div>

            </div>
        </div>

        <button class="header__menu-btn">
            <span class="header__menu-btn-burger">Меню</span>
        </button>

    </div><!--header top-->

    <nav class="header__menu">
        <div class="container">

            <ul class="header__menu-list">

                <li class="header__menu-list-item">
                    <a href="#" class="header__menu-link">O нас</a>
                </li>

                <li class="header__menu-list-item">
                    <a href="#" class="header__menu-link">Wms lvs</a>
                </li>

                <li class="header__menu-list-item">
                    <div class="header__menu-title">
                        <span>Отрасли</span>
                        <i class="header__menu-title-icon icon icon--arr-bottom"></i>
                    </div>
                    <ul class="header__menu-sublist">
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">3PL – операторы</a>
                        </li>
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Оптовые продажи/ дистрибуция</a>
                        </li>
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Ритейл</a>
                        </li>
                    </ul>
                </li>

                <li class="header__menu-list-item">
                    <div class="header__menu-title">
                        <span>Возможности LVS</span>
                        <i class="header__menu-title-icon icon icon--arr-bottom"></i>
                    </div>
                    <ul class="header__menu-sublist">
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Архитектура системы</a>
                        </li>
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Оборудование необходимое для работы</a>
                        </li>
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Pick by voice</a>
                        </li>
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Pick to light</a>
                        </li>
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Pick by line</a>
                        </li>
                    </ul>
                </li>

                <li class="header__menu-list-item">
                    <div class="header__menu-title">
                        <span>Сервисы</span>
                        <i class="header__menu-title-icon icon icon--arr-bottom"></i>
                    </div>
                    <ul class="header__menu-sublist">
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Услуги внедрения</a>
                        </li>
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Техническая поддержка</a>
                        </li>
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Обучение</a>
                        </li>
                    </ul>
                </li>

                <li class="header__menu-list-item">
                    <div class="header__menu-title">
                        <span>Проекты</span>
                        <i class="header__menu-title-icon icon icon--arr-bottom"></i>
                    </div>
                    <ul class="header__menu-sublist">
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">ЕАЛК</a>
                        </li>
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">V_logistic</a>
                        </li>
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Мономах</a>
                        </li>
                        <li class="header__menu-sublist-item">
                            <a href="#" class="header__menu-sublink">Аритейл</a>
                        </li>
                    </ul>
                </li>

                <li class="header__menu-list-item">
                    <a href="#" class="header__menu-link">Новости</a>
                </li>

            </ul>

        </div>
    </nav><!--header menu-->
</header>